$Copyright: (
  background-color: rgba(0, 0, 0, 0.05),
  font-weight: bolder
);

%carritoBtn {
  color: #bb4545;
  font-family: 'Mansalva', cursive;
  font-weight: bolder;
  font-size: larger;
}

@mixin hscios($ta, $fw, $fs) {
  text-align: $ta;
  font-weight: $fw;
  font-size: $fs;
}