@import "variables";
@import "fuentes";
@import "tools";


body, nav{
    background: linear-gradient(to right, #c1d2d6, #bad47b);
}

.icono {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.logo {
    a {
        margin:auto;
    }
    img {
        margin: auto;
    }
}

#navbarSupportedContent a {
    font-family: 'Mansalva', cursive;
    color: $ftColor;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    &:hover {
        color: #0d6efd;
    }
}

.active {
    border-bottom: #AE45BB solid 2px;
}

.imp {
    margin-top: 100px;
 }
 
.contenidoPrincipal {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 80%;
        height: 80%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.card-body {
    h5 {
        font-family: 'Mansalva', cursive;
        font-weight: bolder;
        color:$ftColor;
        font-size: larger;
        line-height: 2.5rem;
        text-align: center;
    }
    p {
        font-family: 'Mansalva', cursive;
        font-weight: bolder;
        color: $ftColor;
        font-size: larger;
        text-align: center;
    }
}

.ecommerce a {
    color:$ftColor;
    font-family: 'Mansalva', cursive;
    font-weight: bolder;
    font-size: larger;
}

.scale:hover {
    transform: scale(1.1);
}

.transition {
    transition: all 200ms ease-in-out;
}

.resumen span {
    color:$ftColor;
    font-family: 'Mansalva', cursive;
    font-weight: bolder;
    font-size: x-large;
}

.mision {
    h6 {
    color:$ftColor;
    font-family: 'Mansalva', cursive;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    }
    p {
        color:$ftColor;
        font-family: 'Mansalva', cursive;
        font-weight: bolder;
        font-size: large;
        text-decoration: none;
    }
    a {
        color:$ftColor;
        font-family: 'Mansalva', cursive;
        font-weight: bolder;
        font-size: large;
        text-decoration: none;
    }
}

.redes {
    p {
        color:$ftColor;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
        line-height: 70px;
    }
    a {
        text-decoration: none;
        padding: 10px;
    }
}

.header_servicios {
    @include hscios (center, bolder, 3rem);
    color:$ftColor;
    font-family: 'Mansalva', cursive;
}

.nosotros p {
    font-size: 30px;
    color:$ftColor;
    line-height: 50px;
    margin-bottom: 20px;
}

.pelu {
    margin-top: 125px;
}

.serv_vete {
    h5 {
        font-size: 3rem;
        text-align: center;
        color:$ftColor;
        font-weight: bolder;
        font-family: 'Mansalva', cursive;
    }
    p {
        font-size: 1.5rem;
        margin-top: 22px;
        text-align: center;
    }
}

.footer {
    margin-top: 125px;
}

.pie {
    color:$ftColor;
    font-weight: map-get($Copyright, font-weight);
    font-size: larger;
    font-family: 'Mansalva', cursive;
    background-color: map-get($Copyright, background-color);
}

.mapa {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    iframe {
        border: 2px solid$ftColor;
        max-width: 100%;
    }
}

.carrito button {
    @extend %carritoBtn !optional;
}
 
.price small {
    margin-left: 65px;
    font-weight: bolder;
    font-size: larger;
}







